<h4>Delete report:</h4>
<br>
   <p><strong>Type: </strong><%= @report.report_type %></p>
   <p><strong>Date: </strong><%= @report.date %></p>
   <p><strong>Time: </strong><%= @report.time %></p>
   <p><strong>Location: </strong><%= @report.location %></p>
   <p><strong>Description: </strong><%= @report.description %></p>
<br>
<form action="/reports/<%= @report.id %>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <br>
   <button class="danger"><input type="submit" value="DELETE"></button>
</form>