<h3>All Reports</h3>
  <ul class="reports-list">
    <% @reports.each do |report| %>
    <br>
    <li><a href="/reports/<%= report.id %>" class="view-report">View Report</a></li>
    <br>
    <li><strong>Report Type:</strong> <%= report.report_type %></li>
    <li><strong>Report Date:</strong> <%= report.date %></li>
    <li><strong>Report Time:</strong> <%= report.time %></li>
    <li><strong>Report Location:</strong> <%= report.location %></li>
    <li><strong>Report Description:</strong> <%= report.description %></li>
    <li><strong><i>Created at:</strong> </i><%= report.created_at %></li>
    <li><strong><i>Updated at:</strong> </i><%= report.updated_at %></li>
    <br>
    <% end %>
  </ul>